.how-work {
  margin: 100px 0;
  overflow: hidden;

  & .wrapper {
    @include flex($gap: 80px, $justify: center);

    @include media-tablet {
      flex-direction: column;
      align-items: center;
    }
  }
}

.how-work__img-wrapper {
  position: relative;
  width: 47rem;
  height: 43rem;
  overflow: hidden;

  @include media-mobile {
    width: 34rem;
    height: 30rem;
  }
}

.how-work__img {
  position: absolute;
  right: 0;
  width: 40rem;
  height: 43rem;
  border-radius: 0px 200px 0px 0px;
  background-image: url('../assets/images/work-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  & figure {
    height: 100%;
  }

  @include media-mobile {
    width: 32rem;
    height: 30rem;
    border-radius: 0px 100px 0px 0px;
  }
}

.how-work__img-worker {
  position: absolute;
  bottom: -25px;
  left: -70px;
  width: 110%;
  height: 80%;
  
  @include media-mobile {
    width: 100%;
    left: -25px;
  }
}

.how-work__img-icon {
  position: absolute;
  right: 20%;
  top: 30%;
  @include SVGSetting($size: 60px);
}

.how-work__content {
  width: 40%;
  @include flex($direction: column, $gap: 60px);

  & h2 {
    width: 30%;
  }

  @include media-tablet {
    width: 80%;

    & h2 {
      width: 100%;
      text-align: center;
    }
  }
}

.how-work__list {
  @include flex($direction: column, $gap: 20px);
  
  & li {
    position: relative;
    &::marker {
      font-size: calc($fs-big * 2);
      color: $color-grey-light;
    }
  }
}

.how-work__list-item {
  position: relative;
  top: -20px;
  display: grid;
  grid-template-columns: 2fr 7fr;
  align-items: center;
  gap: 20px;

  & h4 {
    font-size: $fs-base;
    color: $color-black;
  }

  & p {
    font-weight: 300;
  }

  @include media-tablet {
    grid-template-columns: 2fr 4fr;
  }
}