///mixin flex принимает параметры:
/// @param {string} $direction
/// @param {string} $alignItems
/// @param {string} $justify
/// @param {string} $gap
@mixin flex($direction: row, $alignItems: normal, $justify: normal, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignItems;
  justify-content: $justify;
  gap: $gap;
}

@mixin media-laptop() {
  @media screen and (max-width: $display-laptop) {
    @content;
  }
}

@mixin media-tablet() {
  @media screen and (max-width: $display-tablet) {
    @content;
  }
}

@mixin media-mobile() {
  @media screen and (max-width: $display-mobile) {
    @content;
  }
}

@mixin SVGSetting($size) {
  width: $size;
  height: $size;
}

@mixin transition($time: 0.5) {
  transition: all $time;
}