$color-primary: hsl(166, 56%, 50%);
$color-sky-blue: hsl(198, 92%, 52%);
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(228, 18%, 11%);
$color-grey-dark: hsl(230, 15%, 39%);
$color-grey-light: hsl(227, 13%, 66%);
$color-light-dark: hsl(226, 30%, 92%);
$color-light: hsl(220, 33%, 96%);
$color-red: hsl(0, 100%, 68%);

$fs-big: 2rem;
$fs-base: 1.8rem;
$fs-small: 1.4rem;
$fs-call-btn: 2.4rem;
$fs-h1: 4.8rem;
$fs-h2: 3rem;

$radius-base: 10px;

$display-laptop: 1200px;
$display-tablet: 786px;
$display-mobile: 440px;
$display-mobile-s: 380px;

